<div id="contents">
  <header>
    <div class="container">
      <open-external class="left" ng-attr-url="http://kutx.org/">
        <img src="img/icon-web.png" width="16" height="16" alt="Web">Web
      </open-external>
      <div class="logo"><img src="img/kut-logo.png" width="61" height="37" alt="KUT logo" ></div>
      <open-external class="right" ng-attr-url="http://kut.org/support-kut/">
        <img src="img/icon-support.png" width="16" height="16" alt="Support">Support
      </open-external>
    </div>
  </header>
  <div class="logotype text-center">
    <div class="container" ng-controller="PlaylistCtrl">
      <div class="playlist">
        <div ng-repeat="show in shows | reverse" class="program" ng-class="{onair: show.__onAir}">
          <div class="show" style="background-image: url({{ show | showBannerUrl }})">
            <span class="name">{{ show.program.name }}</span>
            <div class="time">{{show.start | amDateFormat:'dddd, MM/DD/YY, h:mm a'}}-{{show.end | amDateFormat:'h:mm a'}}</div>
          </div>
          <div class="show-playlist" ng-class="{notracks: !show.playlist}">
            <div ng-repeat="track in show.playlist | reverse" class="track" ng-class="{hasartwork: !!track.artworkUrl60}">
                <div class="time">{{track._start_time | amDateFormat:'h:mm a'}}</div>
                <div class="artwork-container">
                  <div class="artwork" style="background-image: url({{ track.artworkUrl60 }})">
                    <span class="initials">{{track.artistName | initials}}</span>
                  </div>
                </div>
                <div class="info">
                  <div class="name">{{track.trackName}}</div>
                  <div class="desc">{{track.artistName}}</div>
                  <div class="collection">{{track.collectionName}}</div>
                </div>
            </div>
          </div>
          
        </div>
      </div>
    
    </div>
  </div>
  <div class="bottom">
    <div class="song-artist text-center slider-animation" ng-show="showNotification" notification-console>
      <div class="container"> 
        <div class="error">{{ notification }}</div>
      </div>
    </div>
    <div class="player">
      <div class="container">
        <button class="button-player play" ng-disabled="!canplay" ng-click="player.playPause()" play-pause></button> </div>
      </div>
  </div>
</div>